html{
	height:100%;
	background-color:#000000;
	min-width:320px;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

h1{
	color: #1463b4;
	font-size:45px;
	margin: 25px 0 0 0;
}

h2{
	color: #000000;
	font-size:35px;
	margin: 0px;
	padding-top:0px;

}

h3{
	color: #000000;
	font-size:30px;
	padding-top:10px;
}

h4 {
	color: #000000;
	font-size:22px;
	margin-bottom: 2px;

}

.notFirst{
	padding-top: 22px;
}

body {
	font-family: 'Roboto', sans-serif;
	height:100%;
	margin:0;
	padding:0;
	text-align:center;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;body {
    color: #333;
}
}

/*NAVBAR*/

.navbar{
	font-family: 'Montserrat', sans-serif !important;
}


.navbar {
    > a:focus {
        outline: 0;
    }
    .navbar-nav {
        letter-spacing: 1px;
    }
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

.navbar-brand{
	color:#000000 !important;
	font-size: 25px;
	letter-spacing: 0px;
}

.navbar-brand:hover, .navbar-brand:active{
	color: #1463b4 !important;
	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
      -ms-transition: all 0.3s ease-out;  /* IE10 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
          transition: all 0.3s ease-out;

}

#header{
	background-color:#FFFFFF;
	height:34px;
	width:100%;
	position:fixed;
	top:0%;
	left:0%;
	z-index: 1;
	margin:0;
	padding:0;
	opacity: 0.7;
	-webkit-transition: all 0.5s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.5s ease-out;  /* FF4+ */
      -ms-transition: all 0.5s ease-out;  /* IE10 */
       -o-transition: all 0.5s ease-out;  /* Opera 10.5+ */
          transition: all 0.5s ease-out;
}

#header:hover{
	opacity: 1.0;
	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
      -ms-transition: all 0.3s ease-out;  /* IE10 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
          transition: all 0.3s ease-out;
}

#headerName
{
	top:0%;
	left:0%;
	position:fixed;
	z-index:2;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:10px;
	color: #000000;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	text-decoration: none;
	letter-spacing: 3px;

}

#headerName:hover, #headerName:active{
	color:#1463b4;
	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
      -ms-transition: all 0.3s ease-out;  /* IE10 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
          transition: all 0.3s ease-out;
}

nav{
	position:fixed;
	top:0%;
	right:0%;
	z-index: 2;
}

nav ul{
	margin:0;
	padding:0;
}

nav ul li{
	position:relative;
	width:80px;
	float:left;
	list-style: none;
	padding-top:5px;
	padding-bottom:5px;
	font-family: 'Montserrat', sans-serif;
}

nav ul li a{
	text-decoration: none;
	font-size: 14px;
	color:#000;
	border-bottom: 1px solid rgba(255,255,255,0);
	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
      -ms-transition: all 0.3s ease-out;  /* IE10 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
          transition: all 0.3s ease-out;
}

nav ul li a:hover{
	opacity:0.5;
	
}

/*hide child items*/
nav li ul{
	position:absolute;
	visibility:hidden;
  	opacity:0;
	padding-top:5px;
	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
      -ms-transition: all 0.3s ease-out;  /* IE10 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
          transition: all 0.3s ease-out;
}

/*display child item when hovered*/
nav li:hover ul{
	visibility:visible;
	background-color: #FFFFFF;
	opacity:1;
	transition-delay:0s;
}

/*child item link style*/
nav ul li ul li a{
	color:#000000;
	border-bottom: 1px solid rgba(127,140,141,0);
	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
      -ms-transition: all 0.3s ease-out;  /* IE10 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
          transition: all 0.3s ease-out;
}

/*child item links style hover*/
nav ul li ul li a:hover{
	color:#000000;
	opacity:0.5;
	border-color:#FFFFFF;
}

#fixedBannerBackground{
	width:100%;
	height:100%;/*height:460px;*/
	min-height:360px;
	background:url('../img/setup.jpg') no-repeat center top;
	top: 0%;
	right: 0;
	background-size: cover;
	position:fixed;
	z-index:-99;
	opacity:1.0;
}

#bannerContainer{
	width:100%;
	height:100%;/*height:460px;*/
	min-height:360px;
}

#bannerName{
	font-size:66px;
	color:#FFFFFF;
	margin-bottom: 0;

}

#bannerPhrase{
	font-size:24px;
	color:#FFFFFF;
}

#bannerBlock{
	top:35%;
	position:relative;
}
#bannerBackgroundCover{
	width: 100%;
	height:100%;
	background: #1463b4;
	opacity:0.60;
	z-index:-98;
	position:fixed;
}

/* Hovering buttons */


#moreLinksContainer{
	width:100%;
	height:60px;
	max-width:500px;
	padding-top:25px;
	margin: 0 auto;
	display:inline-block;

	
}

.moreLinksStyle{
	text-decoration: none;
	font-size:18px;
	color:#2c3e50;
	border-bottom: 1px solid rgba(44,62,80,0);
	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
      -ms-transition: all 0.3s ease-out;  /* IE10 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
          transition: all 0.3s ease-out;
}

.moreLinksStyle:hover{
	border-color: #2c3e50;
}

.hoverButtonBlock{

	width:50%;
	float: left;
}

.hoverButtonLink{
	display:inline-block;
	font-size:18px;
	color: #FFFFFF;
	background: #002952;
	border: 1px solid #002952;
	width: 160px;
	height: 100%;
	padding: 10px 0px;
	text-decoration:none;
	text-align:center;
	overflow:hidden;
	letter-spacing:2px;
	transition:all 0.5s;
}

.hoverButtonLink:hover, .hoverButtonLink:active{
	text-decoration:none;
	color:#FFFFFF;
	border-color:#FFFFFF;
	background:none;
}

.hoverButtonLink span{
	display: inline-block;
  	position: relative;
	padding-right: 0;
}

.hoverButtonLink:hover span, .hoverButton:active span 
{
	font-size: 90%;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
  	
}

.hoverButtonLink:visited span
{
	color:#FFFFFF;
}

/*About Container*/
#aboutContainer
{
	background: #eaedef;
	position:center;
	width:100%;
	min-height: 100%;
	margin: 0 auto;
	padding: 40px 0px 0px 0px;
}

 .profilePicture {
    width: 150px;
    border-radius: 100px;
    padding-top:10px;
    margin: 0 auto 0 auto;
    position: relative;
    overflow: hidden;
    display: block;
}

.container{
	font-family: 'Roboto', sans-serif!important;
}

.aboutItem{
	height: 100%;
	padding: 0px 10px;
	background: #e7e7e7;
	font-size:18px;
	display:block;
	text-align: left;
}

.aboutMeContainer{
padding-bottom: 100px;
}

/*Project Containers*/
#projectsContainer{
	background: #D7DCE0;
	position:center;
	min-width:100%;
	min-height: 80%;
	margin: 0 auto;
	padding: 40px 0px 0px 0px;
}


 .projectBlock{
 	margin: 0 auto;
	min-width: 320px;
	max-width: 800px;
	width: 85%;
	padding-bottom: 32px;
	}


 .androidProjApp{
	width:100%;
}

.projTitle
{
	padding:30px;
}

/*Contact Container*/
#contactContainer{
	background-color:#eaedef;
	padding-top:96px;
	padding-bottom:132px;
}

#contactInfoBlock{
	width:50%;
	margin: 0 auto;
	display:inline-block;
}

.socialLinkBox{
	margin-right:12px;
	padding:12px;
	background-color: #2c3e50;
	display:inline-block;

	transition:all 0.5s;
}

.socialLinkBox:hover, .socialLinkBox:active{
	background: #42a1d9;

	transition:all 0.5s;
}

.socialLinkBox:hover > .fa, .socialLinkBox:active > .fa{
	color:#FFFFFF;

	transition:all 0.5s;
}

.socialLinkBox .fa{
	color:#FFFFFF;

	transition:all 0.5s;
}

#footer{
	background: #1463b4 ;
	color: #FFFFFF;
	font-size: 10px;

}

@media only screen and (max-width: 768px) {
	/*reduce graph buttons width*/
	.graphButton{
		font-size:14px;
		width:120px;
		margin:20px 10px 10px 10px;
	}

	/*change regular text to font 14px*/
	#footer{
		font-size:14px;
	}
	.moreLinksStyle{
		font-size:14px;
	}
	.hoverButtonLink{
		width:140px;
	}
	#moreLinksContainer{
		width:70%;
	}
	h3{
		font-size:14px;
	}
	p{
		font-size:14px;
	}
	.contentDescription li{
		font-size:14px;
	}
	#bannerName{
		font-size:58px;
		letter-spacing:0px;
	}
	#bannerPhrase{
		font-size:34px;
		letter-spacing:0px;
	}
	.mobileRespondImg{
		display:none;
	}
}


@media only screen and (max-width: 480px) {
	/*Reduce banner text and image sizes*/
	#bannerName{
		font-size:39px;
	}
	#bannerPhrase{
		font-size:26px;
	}
	#bannerLogo{
		width:30px;
		height:30px;
	}
	#moreLinksContainer{
		width:100%;
	}

	.hoverButtonLink{
		font-size:16px;
	}
	.hoverButtonLink span:after {
		margin-top:5px;
	}

	

}



